body {
margin: 0;
padding: 0;
background-image: url('https://raw.githubusercontent.com/Lukinhas1709/meu-repositorio30/refs/heads/main/0x0.webp');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
font-family: Arial, sans-serif;
}